# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
#*.jar
!gradle-wrapper.jar
/logs
/Projects/
/libs
/.apt_generated_tests/
